<!-- <h2 class="titleProject">PROYECTOS</h2> -->
<div class="container">
  <h2>Proyectos</h2>
  <ul>
    <li *ngFor="let project of projects" class="project">
      <a [routerLink]="['/proyecto', project._id]">
        <div class="image">
          <img src="{{ url + 'get-image/' + project.image }}" alt="imagen del formulario" *ngIf="project.image" />
        </div>

        <h3>{{ project.name }}</h3>
        <p>{{ project.category }}</p>
      </a>
    </li>
  </ul>
</div>