body {
  background: url("../img/rojo.jpg");
  background-attachment: fixed;
}

#logo {
  background: #ca3413;
}

#menu ul li:hover {
  background: #ca3413;
}

.button-more {
  background: #ca3413;
}
