<h2>Contacto</h2>

<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">
  <label for="nombre">Nombre</label> <br />
  <input
    type="text"
    name="nombre"
    #nombre="ngModel"
    [(ngModel)]="contactoUsuario.nombre"
    required
    pattern="[a-zA-Z]+"
  />

  <span *ngIf="nombre.touched && !nombre.valid">El nombre es obligatorio</span>
  <br />

  <label for="apellido">Apellido</label> <br />
  <input
    type="text"
    name="apellido"
    #apellido="ngModel"
    [(ngModel)]="contactoUsuario.apellido"
    required
    pattern="[a-zA-Z]+"
  />

  <span *ngIf="apellido.touched && !apellido.valid"
    >El apellido es obligatorio</span
  >
  <br />

  <label for="email">Email</label> <br />
  <input
    type="email"
    name="email"
    #email="ngModel"
    [(ngModel)]="contactoUsuario.email"
    required
    pattern="[a-z]+[a-z0-9._]+@[a-z]+\.com"
  />

  <span *ngIf="email.touched && !email.valid">El email es obligatorio</span>
  <br />

  <label for="mensaje">Mensaje</label> <br />
  <textarea
    name="mensaje"
    #mensaje="ngModel"
    [(ngModel)]="contactoUsuario.mensaje"
    required
  ></textarea>
  <br />

  <input type="submit" value="Enviar" [disabled]="!formContacto.form.valid" />
</form>
