<h2>{{ getTitulo() }}</h2>

<p>Ver marca</p>
<p>
  <input type="text" [(ngModel)]="miMarca" (keyup.enter)="mostrarPalabra()" />
</p>
<button (click)="getMarca()">Ver Marca</button>
<p>{{ miMarca }}</p>

<p>Añanidr Marca</p>
<p><input type="text" [(ngModel)]="nuevaMarca" /></p>
<button (click)="addMarca()">Añanir Marca</button>
<!-- <button (click)="deleteMarca(index)">Eliminar Marca</button> -->
<p>Compras las zapatillas de las mejores marcas</p>
<ul>
  <li *ngFor="let marca of marcas; let indice = index">
    {{ indice + " - " + marca }}
    <button (click)="deleteMarca(indice)">Eliminar Marca</button>
  </li>
</ul>
<ul>
  <li *ngFor="let zapatilla of zapatillas">
    {{ zapatilla.nombre }} -
    <strong
      [class.altoPrecio]="zapatilla.precio >= 3000"
      [ngClass]="{
        fondoRojo: zapatilla.precio >= 4000,
        subrayado: zapatilla.marca == 'Adidas'
      }"
      >${{ zapatilla.precio }}</strong
    >

    <span
      *ngIf="zapatilla.precio <= 3000"
      [style.background]="zapatilla.precio == 3000 ? 'green' : 'red'"
    >
      En Oferta!!
    </span>
  </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
    El color predomimnante es el amarillo.
  </li>
  <li *ngSwitchCase="'red'">
    El color predomimnante es el rojo.
  </li>
  <li *ngSwitchCase="'blue'">
    El color predomimnante es el azul.
  </li>
</ul>
