<header>
  <ul>
    <li>
      <a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']"
        >Sobre Mi</a
      >
    </li>
    <li>
      <a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']"
        >Proyectos</a
      >
    </li>
    <li id="logo"><a href="#">JC</a></li>
    <li>
      <a [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']"
        >Crear Poryectos</a
      >
    </li>
    <li>
      <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']"
        >Contacto</a
      >
    </li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Practicando desarollo MEAN Stack &copy
</footer>
