#caja{
    width: 300px;
    height: 75px;
    border: 2px dashed black; 
    margin-top: 20px;
    background: #ccc;
    text-align: center;
    line-height: 70px;
    color: red;
    font-size: 40px;
    font-family: Verdana;
}