<!-- <h2 class="titleProject">{{ title }}</h2> -->
<div class="container" *ngIf="project">
  <h2>{{title}}</h2>
  <div class="message success" *ngIf="status === 'success'">
    El proyecto se a creado correctamente, puedes verlo
    <a [routerLink]="['/proyecto', save_project._id]">aquí</a>
  </div>

  <div class="message failed" *ngIf="status === 'failed'">
    El proyecto no se a podido crear
  </div>

  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <p>
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required />
      <span class="form_error" *ngIf="name.touched && !name.valid">
        El nombre es obligatorio
      </span>
    </p>

    <p>
      <label for="description">Descripción</label>
      <textarea name="description" #description="ngModel" [(ngModel)]="project.description" rows="5" required>
      </textarea>
      <span class="form_error" *ngIf="description.touched && !description.valid">
        La descripción es obligatoria
      </span>
    </p>

    <p>
      <label for="category">Categoria</label>
      <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required />
      <span class="form_error" *ngIf="category.touched && !category.valid">
        La categoria es obligatoria
      </span>
    </p>

    <p>
      <label for="year">Año de lanzamiento</label>
      <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" />
    </p>

    <p>
      <label for="langs">Lenguajes utilizados</label>
      <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
      <span class="form_error" *ngIf="langs.touched && !langs.valid">
        Los lenguajes son obligatorio
      </span>
    </p>

    <p>
      <label for="image">Imagen</label>
      <span *ngIf="project.image">
        <img src="{{ url + 'get-image/' + project.image }}" alt="foto dni" *ngIf="project.image"
          style="width: 100px;" /> </span><br />
      <input type="file" name="image" placeholder="Subir Imagen" (change)="fileChangeEvent($event)" />
    </p>
    <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid" />
  </form>
</div>