<h2>{{ titulo }}</h2>
<p>{{ listado }}</p>
<ul>
  <li>GTA</li>
  <li>Mario</li>
  <li>MortalKombat</li>
</ul>

<input type="text" name="title" id="title"/>
<button (click)="cambiarTitulo()" type="submit">Cambiar titulo</button>
