.element {
    width: 300px;
    height: 200px;
    border: 4px solid black;
    background: lightblue;
    float: left;
    margin-left: 5px;
}

.element {
    background: pink;
    display: none;
    float: none;
    margin-top: 5px;
}

#lista li {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    list-style: none;
    cursor: pointer;
}

ul .ui-selecting {
    background: green;
}

ul .ui-selected {
    background: blue;
}

#list-ordered li {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.area {
    width: 300px;
    height: 300px;
    border: 4px red dashed;
}

.element-move {
    width: 100px;
    height: 100px;
    border: 4px blue dashed;
}