<h1>Pagina Principal Home</h1>

<div *ngIf="identificado; then siIdentificado else noIdentificado"></div>

<ng-template #siIdentificado>
  <h3>Este identificado en la aplicacion</h3>
  <button (click)="unsetIdentificado()">Borrar</button>
</ng-template>
    
<ng-template #noIdentificado>
  <p>No estas identificado, pulsa este boton para identificarte</p>
  <button (click)="setIdentificado()">Identificado</button>
</ng-template>
