.box{
    width: 250px;
    height: 200px;
    float: left;
    margin: 20px;
}

.dashed{
    border: 3px dashed black;
    padding: 5px;
}

.dashed h3{
    text-align: center;
}

.dashed p{
    text-align: center;
}

.dashed p span{
    color: red; 
}