<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>My First Angular App</title>
  </head>
  <body>
    <h1>Bienvenido {{ title }}</h1>

    <p>{{ descripcion }}</p>

    <nav>
      <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
      &nbsp;
      <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']"
        >Zapatillas</a
      >
      &nbsp;
      <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
      &nbsp;
      <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']"
        >VideoJuegos</a
      >
      &nbsp;
      <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a>
      &nbsp;
      <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
    </nav>

    <hr />

    <!-- <button (click)="setStatusGame(false)" *ngIf="getStatusVideoGame()">
      Ocultar
    </button>
    <button (click)="setStatusGame(true)" *ngIf="!getStatusVideoGame()">
      Mostrar
    </button> -->

    <!-- <videogame *ngIf="getStatusVideoGame()"></videogame>
    <zapatilla></zapatilla>
    <cursos></cursos> -->

    <router-outlet></router-outlet>
  </body>
</html>
