<div class="container">
  <h1>Contacto</h1>
  <div id="texto" #textos>
    <p appResaltado>Esta es la pagina de contacto</p>
  </div>

  <!-- Tamaño del Slider:
  <input
    type="number"
    [(ngModel)]="widthSlider"
    (keyup.enter)="cargarSlider()"
  />

  <button (click)="cargarSlider()">Cargar Slider</button>
  <button (click)="resetearSlider()">Resetear Slider</button>
  <div *ngIf="anchuraToSlider">
    <slider
      [anchoSlider]="anchuraToSlider"
      [etiquetas]="captions"
      (getAutor)="conseguirAutor($event)"
    ></slider>
  </div>

  <div *ngIf="autor">
    {{ autor.nombre + " " + autor.web + " " + autor.youtube }}
  </div> -->
</div>
