#caja{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background: yellow;
}

input{
    padding: 10px;
    width: 300px;
    font-size: 20px;
}

.datos{
width: 250px;
height: 50px;
padding: 10px;
margin-top: 10px;
border: 2px dashed black;
display: none;
}

.sigueme{
    width: 50px;
    height: 50px;
    opacity: 0,9;
    border-radius: 999px;
    display: block;
    background: yellow;
    position: absolute;
}