Slider:<strong> {{ anchoSlider }}</strong> , 
Captions:<strong>{{ etiquetas }}</strong>

<div class="galeria">
  <div><img src="../../../assets/img/daisies.jpg" /></div>
  <div><img src="../../../assets/img/plant.jpg" /></div>
  <div><img src="../../../assets/img/succulents.jpg" /></div>
</div>

<button (click)="lanzar($event)">Conseguir Autor</button>
