<p>externo works!</p>
<hr />
<h2>Crear Usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
  <p>
    <label for="name">Nombre: </label>
    <input
      type="text"
      name="name"
      #name="ngModel"
      [(ngModel)]="new_user.name"
      required
    />
    <span *ngIf="name.touched && !name.valid">El nombre no es valido</span>
  </p>

  <p>
    <label for="job">Trabajo: </label>
    <input
      type="text"
      name="job"
      #job="ngModel"
      [(ngModel)]="new_user.job"
      required
    />
    <span *ngIf="job.touched && !job.valid">El trabajo no es valido</span>
  </p>

  <input
    type="submit"
    value="Guardar Usuario"
    [disabled]="!newUser.form.valid"
  />
</form>
<hr />
<h3>{{ fecha | date: "dd/MM/yy" }}</h3>
<h3>{{ fecha | date: fulldate | uppercase }}</h3>
<br />
{{ "HOLA MUNDO USANDOS PIPES" | lowercase }}
{{ 4 | calculadora: 2 }}
<hr />

<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()" />
<div *ngIf="!user">
  Cargando...
</div>

<div *ngIf="user">
  <br />
  <img
    src="{{ user.avatar }}"
    alt="avatar del user en la peticion"
    width="200px"
  />
  <h2>{{ user.first_name + " " + user.last_name }}</h2>
</div>
