/* Importar fuentes */
@font-face {
  font-family: "yanone";
  src: url("../font/YanoneKaffeesatz-Light.ttf");
}

@font-face {
  font-family: "finger";
  src: url("../font/FingerPaint-Regular.ttf");
}

@font-face {
  font-family: "titillium";
  src: url("../font/TitilliumWeb-Light.ttf");
}

/* Generales */

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "yanone", Arial, Helvetica;
  font-size: 20px;
  background: url("../img/textura-lino-gris.jpg");
  background-attachment: fixed;
}

.clearfix {
  float: none;
  clear: both;
}

/* Barra de navegación --> header */
header {
  display: block;
  width: 100%;
  height: 90px;
  background: rgba(53, 103, 143, 0.8);
  position: fixed;
  text-transform: uppercase;
}

header ul {
  display: block;
  width: 42%;
  height: inherit;
  margin: 0px auto;
  margin-top: -7.5px;
}

header ul li {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 90px;
}

header a {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: white;
  transition: all 500ms;
}

header a:hover,
.actived {
  background: rgba(0, 0, 0, 0.5);
}

/* logotipo */
#logo {
  font-family: "finger";
  font-size: 40px;
}

#logo a {
  transition: color 500ms, transform 500ms;
}

#logo a:hover {
  background: transparent;
  color: black;
  transform: scale(1.5, 1.5);
}

/* Contenedor principal */
#content {
  min-height: 600px;
  /* display: flex; */
  height: auto;
  width: 75%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 120px;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
}

/* pie de pagina --> footer */
footer {
  width: 75%;
  margin: 0px auto;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

/* Sobre Mi --> about */
#title {
  width: 70%;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

#title h1 {
  font-family: "finger", Arial, Helvetica;
  font-size: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#title h2 {
  font-size: 30px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

article.about {
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}

.about h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.about p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

/* Seccion con formulario */
.container {
  padding: 50px;
  padding-top: 10px;
  /* display: flex; */
}

.container .image {
  float: left;
  width: 47%;
}
.container .image img {
  width: 100%;
}

.container .data {
  width: 48%;
  float: left;
  margin-left: 30px;
}

.container h2 {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* .titleProject {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-family: finger;
} */

form {
  width: 80%;
}

form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
  width: 50%;
  padding: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete {
  font-size: 15px;
  padding: 10px;
  display: block;
  margin-top: 15px;
  color: white;
  background: rgba(53, 103, 143, 1);
  border: 1px solid rgb(13, 67, 133, 1);
  cursor: pointer;
}

.button-edit,
.button-delete {
  width: 40%;
  float: left;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
}

.button-edit {
  background: rgb(230, 183, 96);
}

.button-delete {
  background: rgb(243, 118, 96);
}

form button:hover,
form input[type="submit"]:hover {
  background: rgba(53, 103, 143, 0.8);
  border: 1px solid rgb(13, 67, 133, 1);
}

form input[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

/*form error de inputs*/
.form_error {
  padding: 2px;
  background: red;
  color: white;
  font-size: 15px;
  margin-left: 0px;
}

.message {
  padding: 5px;
  border: 1px solid #eee;
  width: 40%;
}

.success {
  background: green;
  color: white;
}

.message a {
  color: white;
}

.failed {
  background: red;
  color: white;
}

/* Pagina de proyectos */

.project {
  list-style: none;
  display: block;
  float: left;
  width: 28%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.project .image {
  width: 100%;
  height: 125px;
  overflow: hidden;
}

.project img {
  width: 100%;
}

.project a {
  text-decoration: none;
  color: black;
}

.confirm{
  display: block;
  font-weight: bold;
  margin-top: 20px;
}
